<h3>Room Name</h3>
<div class="room-name">
  <%= facade.party_name %>
</div>
<h3>Room Code</h3>
<div class="room-code">
  <%= facade.party_code %>
</div>

<%= button_to 'Bail Out', leave_party_path, method: :delete %>
