<h3>Room Name</h3>
<div class="room-name">
  <%= facade.name %>
</div>
<h3>Room Code</h3>
<div class="room-code">
  <%= facade.code %>
</div>

<%= button_to 'Bail Out', leave_party_path, method: :delete %>
