---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/recommendations?seed_artists=3TOqt5oJwL9BE2NG9MEwDa&target_acousticness=0.0337308434&target_danceability=0.24806&target_energy=0.38735&target_mode=0&target_tempo=63.56895&target_valence=0.166571
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : [ {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/3TOqt5oJwL9BE2NG9MEwDa"
                },
                "href" : "https://api.spotify.com/v1/artists/3TOqt5oJwL9BE2NG9MEwDa",
                "id" : "3TOqt5oJwL9BE2NG9MEwDa",
                "name" : "Disturbed",
                "type" : "artist",
                "uri" : "spotify:artist:3TOqt5oJwL9BE2NG9MEwDa"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/1IpufqmucrxYUJQxf1AP0n"
              },
              "href" : "https://api.spotify.com/v1/albums/1IpufqmucrxYUJQxf1AP0n",
              "id" : "1IpufqmucrxYUJQxf1AP0n",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/7b5d558389f39c65a152f0885d584634df3c2dc0",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/c62ef2c6aef03b08ddedc18d7c699d425e427ff8",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/c7bfb8a6693b6a419bf1f1a868179351984c5f25",
                "width" : 64
              } ],
              "name" : "Evolution (Deluxe)",
              "release_date" : "2018-10-19",
              "release_date_precision" : "day",
              "total_tracks" : 0,
              "type" : "album",
              "uri" : "spotify:album:1IpufqmucrxYUJQxf1AP0n"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/3TOqt5oJwL9BE2NG9MEwDa"
              },
              "href" : "https://api.spotify.com/v1/artists/3TOqt5oJwL9BE2NG9MEwDa",
              "id" : "3TOqt5oJwL9BE2NG9MEwDa",
              "name" : "Disturbed",
              "type" : "artist",
              "uri" : "spotify:artist:3TOqt5oJwL9BE2NG9MEwDa"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "disc_number" : 1,
            "duration_ms" : 284293,
            "explicit" : false,
            "external_ids" : {
              "isrc" : "USRE11800601"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/1IbaGRC0Yrovu3MP1ipf1u"
            },
            "href" : "https://api.spotify.com/v1/tracks/1IbaGRC0Yrovu3MP1ipf1u",
            "id" : "1IbaGRC0Yrovu3MP1ipf1u",
            "is_local" : false,
            "name" : "A Reason to Fight",
            "popularity" : 66,
            "preview_url" : "https://p.scdn.co/mp3-preview/93bc0f656ecc63ecc4f37fbbe4d78034908a1005?cid=<SPOTIFY_CLIENT_ID>",
            "track_number" : 3,
            "type" : "track",
            "uri" : "spotify:track:1IbaGRC0Yrovu3MP1ipf1u"
          }, {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/5eAWCfyUhZtHHtBdNk56l1"
                },
                "href" : "https://api.spotify.com/v1/artists/5eAWCfyUhZtHHtBdNk56l1",
                "id" : "5eAWCfyUhZtHHtBdNk56l1",
                "name" [...]
- request:
    method: put
    uri: https://api.spotify.com/v1/playlists/2iyYsK01c4lPHyolL9lCqY/tracks
    body:
      encoding: UTF-8
      string: '{"uris":["spotify:track:1IbaGRC0Yrovu3MP1ipf1u","spotify:track:4e9eGQYsOiBcftrWXwsVco","spotify:track:1LHZMWefF9502NPfArRfvP","spotify:track:507bYMYfbm6sUS9iEAaeSd","spotify:track:2nBWxgSZ79w9l6t2rUg6pl","spotify:track:7egnrHJAANlNymbrmQNKcG","spotify:track:1Cj2vqUwlJVG27gJrun92y","spotify:track:6gCVA6ja6g0foIsWv0RuSZ","spotify:track:4QksBPOns9inxD6gaAo4Zc","spotify:track:7rGN3oqzCpG2mLcwoPwDQm","spotify:track:2imkodSyg1hOZwZuE2fJdU","spotify:track:2qJkesdHu9sMMVFgkRkqhQ","spotify:track:7Hr1Ignop7cymbE3FbOtXa","spotify:track:6ZfPmIbwzz6fopTNwAJTPs","spotify:track:3cZr1Z832aXANu6a9fifkx","spotify:track:0CwYG1UnRmOx8Q1EzElCIL","spotify:track:5hheGdf1cb4rK0FNiedCfK","spotify:track:2UDumaw7osnyjH7RZ2DLpB","spotify:track:4hTg9q0AnxtH4yZKeRcMin","spotify:track:3iWlbqAaoIR7H7gyO3a6rV"]}'
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "snapshot_id" : "MiwzNjdhNjdmOTUyODUyY2ExMzZhMWE5ODE0NDQ3YjBhMzQ1YjM5MmIw"
        }
  recorded_at: Tue, 09 Apr 2019 23:45:31 GMT
recorded_with: VCR 4.0.0
