---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCKE48eX7xGv03mJkH5ei_RJ7gm_f6voXGHDZO5wbnLxFxPR91NTeppTctZqqczwIBPsybxWOs_aydLla92a5PMINJm4OZnlhkykd0m-TrG8QWRrpxQMZm2Wr-LU9vwxtfb4fy10kp32G8PTWTiIbHlsS3SMMV5CS_G24AgV566T_34s5BycmVnZS9icfhJRw3QjaWnF7D5bX7kxdYG1khUjVf-XS_DetHS","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:28 GMT
- request:
    method: delete
    uri: https://api.spotify.com/v1/me/tracks?ids=4VqPOruhp5EdPBeR92t6lQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCKE48eX7xGv03mJkH5ei_RJ7gm_f6voXGHDZO5wbnLxFxPR91NTeppTctZqqczwIBPsybxWOs_aydLla92a5PMINJm4OZnlhkykd0m-TrG8QWRrpxQMZm2Wr-LU9vwxtfb4fy10kp32G8PTWTiIbHlsS3SMMV5CS_G24AgV566T_34s5BycmVnZS9icfhJRw3QjaWnF7D5bX7kxdYG1khUjVf-XS_DetHS
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Apr 2019 04:47:28 GMT
recorded_with: VCR 4.0.0
