---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQAlGH6oCNLaGMGTKxbe6UotCkvFpjsTTaEt2v_LnOwTp-5M2O2zSf_kz65jPusOI7CQ6Cb-YCVGUcm_mhtpq80ecwRKsrNhDB50dKQpr-CAxWP60MX8YoVoVHZLj-yRa8TDyJHPrUoMAeygNOhWKNnb8sMP48kmbRH98TtoUiUdQoleDsOk78969Xx8iMkEa2W-4E0UCGeCfDNGgWw0AVVYAEoYANBatsPz","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:24 GMT
- request:
    method: put
    uri: https://api.spotify.com/v1/playlists/2iyYsK01c4lPHyolL9lCqY
    body:
      encoding: UTF-8
      string: '{"name":"Cool Playlist","description":"Groovz generated playlist for
        2019-04-28."}'
    headers:
      Authorization:
      - Bearer BQAlGH6oCNLaGMGTKxbe6UotCkvFpjsTTaEt2v_LnOwTp-5M2O2zSf_kz65jPusOI7CQ6Cb-YCVGUcm_mhtpq80ecwRKsrNhDB50dKQpr-CAxWP60MX8YoVoVHZLj-yRa8TDyJHPrUoMAeygNOhWKNnb8sMP48kmbRH98TtoUiUdQoleDsOk78969Xx8iMkEa2W-4E0UCGeCfDNGgWw0AVVYAEoYANBatsPz
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error" : {
            "status" : 403,
            "message" : "Not allowed"
          }
        }
  recorded_at: Mon, 29 Apr 2019 04:47:24 GMT
recorded_with: VCR 4.0.0
