---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQAXFZ2srA_PhrxV7msQniY9pjCiZbvqvOXuW5t9WRx_80gFabhM1m6vkj2w5szz_CrNZiS9Z1A1udMZTPTtXJKlKJOyTmPlcAJ8_vx_7TNkEiOEYGPHNVDGruWC47SLxHOH2bE3jQH7T6fbCDF_5-zs6XDCBxdRmnIvEcIFEOBRb2CalMq2Nc3slEhXrKiSPiV4WaaSX-hxdmjmoCX5Dg0JaZknEFTXnBJh","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:27 GMT
- request:
    method: put
    uri: https://api.spotify.com/v1/me/tracks?ids=4VqPOruhp5EdPBeR92t6lQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer BQAXFZ2srA_PhrxV7msQniY9pjCiZbvqvOXuW5t9WRx_80gFabhM1m6vkj2w5szz_CrNZiS9Z1A1udMZTPTtXJKlKJOyTmPlcAJ8_vx_7TNkEiOEYGPHNVDGruWC47SLxHOH2bE3jQH7T6fbCDF_5-zs6XDCBxdRmnIvEcIFEOBRb2CalMq2Nc3slEhXrKiSPiV4WaaSX-hxdmjmoCX5Dg0JaZknEFTXnBJh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Apr 2019 04:47:27 GMT
recorded_with: VCR 4.0.0
