---
http_interactions:
- request:
    method: put
    uri: https://api.spotify.com/v1/me/player/play?device_id=6f5333c011e9913b7ea319fdcc9f144e7e4329f2
    body:
      encoding: UTF-8
      string: '{"context_uri":"spotify:playlist:4ZenWelYqdG7lVhcDerX9D"}'
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 10 Apr 2019 06:22:34 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/currently-playing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp" : 1554877355645,
          "context" : {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/4ZenWelYqdG7lVhcDerX9D"
            },
            "href" : "https://api.spotify.com/v1/playlists/4ZenWelYqdG7lVhcDerX9D",
            "type" : "playlist",
            "uri" : "spotify:user:69doss1dia7oz4kv1t74n0l6m:playlist:4ZenWelYqdG7lVhcDerX9D"
          },
          "progress_ms" : 574,
          "item" : {
            "album" : {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/3w1Q754jb31h5CXQCcnLNL"
                },
                "href" : "https://api.spotify.com/v1/artists/3w1Q754jb31h5CXQCcnLNL",
                "id" : "3w1Q754jb31h5CXQCcnLNL",
                "name" : "Capcom Sound Team",
                "type" : "artist",
                "uri" : "spotify:artist:3w1Q754jb31h5CXQCcnLNL"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/1moJ6fFO8yD6itUlDZXlwe"
              },
              "href" : "https://api.spotify.com/v1/albums/1moJ6fFO8yD6itUlDZXlwe",
              "id" : "1moJ6fFO8yD6itUlDZXlwe",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/eb506034a4d533dfd650e6292dfdab72110b99b6",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/d041c1ced181ed28ea5d8a34947db05b8d1ba6ae",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/d85633184fa9c1957c8932f913cc964ed4755088",
                "width" : 64
              } ],
              "name" : "DEVIL MAY CRY 5 Original SoundTrack",
              "release_date" : "2019-03-20",
              "release_date_precision" : "day",
              "total_tracks" : 136,
              "type" : "album",
              "uri" : "spotify:album:1moJ6fFO8yD6itUlDZXlwe"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1hGdQOfaZ5saQ6JWVuxVDZ"
              },
              "href" : "https://api.spotify.com/v1/artists/1hGdQOfaZ5saQ6JWVuxVDZ",
              "id" : "1hGdQOfaZ5saQ6JWVuxVDZ",
              "name" : "Casey Edwards",
              "type" : "artist",
              "uri" : "spotify:artist:1hGdQOfaZ5saQ6JWVuxVDZ"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "disc_number" : 4,
            "duration_ms" : 191134,
            "explicit" : false,
            "external_ids" : {
              "isrc" : "JPE101902040"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/4vnukzBCfcOHeBYp1N7dDz"
            },
            "href" : "https://api.spotify.com/v1/tracks/4vnukzBCfcOHeBYp1N7dDz",
            "id" : "4vnukzBCfcOHeBYp1N7dDz",
            "is_local" : false,
            "name" : "Silver Bullet",
            "popularity" : 54,
            "preview_url" : "https://p.scdn.co/mp3-preview/20f12df94b6524eaf25e47d66b38d107ac9d4c1b?cid=<SPOTIFY_CLIENT_ID>",
            "track_number" : 25,
            "type" : "track",
            "uri" : "spotify:track:4vnukzBCfcOHeBYp1N7dDz"
          },
          "currently_playing_type" : "track",
          "actions" : {
            "disallows" : {
              "resuming" : true
            }
          },
          "is_playing" : true
        }
  recorded_at: Wed, 10 Apr 2019 06:22:34 GMT
recorded_with: VCR 4.0.0
