---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/<SPOTIFY_UID>/playlists
    body:
      encoding: UTF-8
      string: '{"name":"GroovzApp Playlist"}'
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/54FMH2qVtFm85IAI37mE5I
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/54FMH2qVtFm85IAI37mE5I"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/54FMH2qVtFm85IAI37mE5I",
          "id" : "54FMH2qVtFm85IAI37mE5I",
          "images" : [ ],
          "name" : "GroovzApp Playlist",
          "owner" : {
            "display_name" : "Tim Allen",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/<SPOTIFY_UID>"
            },
            "href" : "https://api.spotify.com/v1/users/<SPOTIFY_UID>",
            "id" : "<SPOTIFY_UID>",
            "type" : "user",
            "uri" : "spotify:user:<SPOTIFY_UID>"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSxiMjZmYjVkNWMxOGJkY2FiNTJjODg0YmYxNDhiNzVmNDA3YTVkNTcx",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/54FMH2qVtFm85IAI37mE5I/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:54FMH2qVtFm85IAI37mE5I"
        }
  recorded_at: Wed, 10 Apr 2019 03:52:23 GMT
recorded_with: VCR 4.0.0
