---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQC6zJ_-VaRQVGWAKUFCgmazlgXQpJSTvXCVHbqA1WsNn7AREFhUpZ8E02QjMbqDEImeWU_X-J-s4BWZ-gUvJSLm5EBgNClK_s2jWm52z5e0lkYhedOQ075TzDvXfgxQYULQqWA2r8zdVbtOTQue13nTLsEY3KSr0YtZ9V2ahcyUwEZ8jot5DImh4SQ-G6xey_CraS-vgpUAILY3_OTA2Gkly0NNixq1thik","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:17 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/users/<SPOTIFY_UID>/playlists
    body:
      encoding: UTF-8
      string: '{"name":"GroovzApp Playlist"}'
    headers:
      Authorization:
      - Bearer BQC6zJ_-VaRQVGWAKUFCgmazlgXQpJSTvXCVHbqA1WsNn7AREFhUpZ8E02QjMbqDEImeWU_X-J-s4BWZ-gUvJSLm5EBgNClK_s2jWm52z5e0lkYhedOQ075TzDvXfgxQYULQqWA2r8zdVbtOTQue13nTLsEY3KSr0YtZ9V2ahcyUwEZ8jot5DImh4SQ-G6xey_CraS-vgpUAILY3_OTA2Gkly0NNixq1thik
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/6ZxjXILdCS8WTksxzvtvMT
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/6ZxjXILdCS8WTksxzvtvMT"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/6ZxjXILdCS8WTksxzvtvMT",
          "id" : "6ZxjXILdCS8WTksxzvtvMT",
          "images" : [ ],
          "name" : "GroovzApp Playlist",
          "owner" : {
            "display_name" : "Peter Lapicola",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/<SPOTIFY_UID>"
            },
            "href" : "https://api.spotify.com/v1/users/<SPOTIFY_UID>",
            "id" : "<SPOTIFY_UID>",
            "type" : "user",
            "uri" : "spotify:user:<SPOTIFY_UID>"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSxlMzBlMGZjMzUwYTRhNDYwNmRhZjFiNzg3ZTU3OTEwODQ5MGE0ZGVk",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/6ZxjXILdCS8WTksxzvtvMT/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:6ZxjXILdCS8WTksxzvtvMT"
        }
  recorded_at: Mon, 29 Apr 2019 04:47:17 GMT
recorded_with: VCR 4.0.0
