---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/currently-playing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp" : 1554853061233,
          "context" : {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/61iEtzuSHts9q9JR7lTAy9"
            },
            "href" : "https://api.spotify.com/v1/playlists/61iEtzuSHts9q9JR7lTAy9",
            "type" : "playlist",
            "uri" : "spotify:user:<SPOTIFY_UID>:playlist:61iEtzuSHts9q9JR7lTAy9"
          },
          "progress_ms" : 56419,
          "item" : {
            "album" : {
              "album_type" : "album",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1dfeR4HaWDbWqFHLkxsg1d"
                },
                "href" : "https://api.spotify.com/v1/artists/1dfeR4HaWDbWqFHLkxsg1d",
                "id" : "1dfeR4HaWDbWqFHLkxsg1d",
                "name" : "Queen",
                "type" : "artist",
                "uri" : "spotify:artist:1dfeR4HaWDbWqFHLkxsg1d"
              } ],
              "available_markets" : [ ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/1GbtB4zTqAsyfZEsm1RZfx"
              },
              "href" : "https://api.spotify.com/v1/albums/1GbtB4zTqAsyfZEsm1RZfx",
              "id" : "1GbtB4zTqAsyfZEsm1RZfx",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/beae4292c3214147a7201ef48f855b4ed40ff84e",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/f11aa4ef8ef3ff97ab9322f362f77f2eec4744a5",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/16f066184e92b296f9a202a326633a934607cb88",
                "width" : 64
              } ],
              "name" : "A Night At The Opera (2011 Remaster)",
              "release_date" : "1975-11-21",
              "release_date_precision" : "day",
              "total_tracks" : 12,
              "type" : "album",
              "uri" : "spotify:album:1GbtB4zTqAsyfZEsm1RZfx"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1dfeR4HaWDbWqFHLkxsg1d"
              },
              "href" : "https://api.spotify.com/v1/artists/1dfeR4HaWDbWqFHLkxsg1d",
              "id" : "1dfeR4HaWDbWqFHLkxsg1d",
              "name" : "Queen",
              "type" : "artist",
              "uri" : "spotify:artist:1dfeR4HaWDbWqFHLkxsg1d"
            } ],
            "available_markets" : [ ],
            "disc_number" : 1,
            "duration_ms" : 354320,
            "explicit" : false,
            "external_ids" : {
              "isrc" : "GBUM71029604"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/4u7EnebtmKWzUH433cf5Qv"
            },
            "href" : "https://api.spotify.com/v1/tracks/4u7EnebtmKWzUH433cf5Qv",
            "id" : "4u7EnebtmKWzUH433cf5Qv",
            "is_local" : false,
            "name" : "Bohemian Rhapsody - Remastered 2011",
            "popularity" : 88,
            "preview_url" : null,
            "track_number" : 11,
            "type" : "track",
            "uri" : "spotify:track:4u7EnebtmKWzUH433cf5Qv"
          },
          "currently_playing_type" : "track",
          "actions" : {
            "disallows" : {
              "resuming" : true,
              "skipping_prev" : true
            }
          },
          "is_playing" : true
        }
  recorded_at: Tue, 09 Apr 2019 23:37:49 GMT
recorded_with: VCR 4.0.0
