---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCTis7Yzg_RUi9saWc_MGcdSBXsnhv9Nx9CWI0PqGQ1Jdikf_9LTOrwzAzAV7smCrQwtnMgo7wU7d-VPsLaerLG3wq_OkY_9AdQhk3_k0w9SQybxOOsPT4cbAqC_dww0-aEPJMDQGHp47WdC8J3ZAYmnvfkb_g9gFP5omlz4xbh1WmhQOonXLpExxrkjK1FuIfHRoeeMHM1cUGHaDe0S9Hi6DpZpkMuIxLp","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:18 GMT
- request:
    method: put
    uri: https://api.spotify.com/v1/playlists/54FMH2qVtFm85IAI37mE5I
    body:
      encoding: UTF-8
      string: '{"name":"MyString","description":"Groovz generated playlist for 2019-04-28."}'
    headers:
      Authorization:
      - Bearer BQCTis7Yzg_RUi9saWc_MGcdSBXsnhv9Nx9CWI0PqGQ1Jdikf_9LTOrwzAzAV7smCrQwtnMgo7wU7d-VPsLaerLG3wq_OkY_9AdQhk3_k0w9SQybxOOsPT4cbAqC_dww0-aEPJMDQGHp47WdC8J3ZAYmnvfkb_g9gFP5omlz4xbh1WmhQOonXLpExxrkjK1FuIfHRoeeMHM1cUGHaDe0S9Hi6DpZpkMuIxLp
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error" : {
            "status" : 403,
            "message" : "Not allowed"
          }
        }
  recorded_at: Mon, 29 Apr 2019 04:47:18 GMT
recorded_with: VCR 4.0.0
