---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBazpRkr938Wuqrp4yAcQRi78G2jXTFNxpBKec-Rfb96Q0iC1AycX3aVf_SdqQjdVn6SNDYDhZGul7eOD-WaQ6l2HXo3Kq9-vgE0mJv-k_97XDaLsn3NYgztgG-2zMZrGmsz9ixtbN-KxN8X7g-U25kw7bS7Q3B7YwnmcbUWg0W9je5zQhrYLdAcuEmbAXQn8TovpguGzlCRoyBXrissIqoH-3x","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-modify playlist-modify-public user-read-playback-state user-top-read"}'
  recorded_at: Tue, 09 Apr 2019 22:07:15 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/artists?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBazpRkr938Wuqrp4yAcQRi78G2jXTFNxpBKec-Rfb96Q0iC1AycX3aVf_SdqQjdVn6SNDYDhZGul7eOD-WaQ6l2HXo3Kq9-vgE0mJv-k_97XDaLsn3NYgztgG-2zMZrGmsz9ixtbN-KxN8X7g-U25kw7bS7Q3B7YwnmcbUWg0W9je5zQhrYLdAcuEmbAXQn8TovpguGzlCRoyBXrissIqoH-3x
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/33o00sXuyWiApOFzo0vr0z"
            },
            "followers" : {
              "href" : null,
              "total" : 95901
            },
            "genres" : [ "catstep", "chillstep", "edm", "indie poptimism" ],
            "href" : "https://api.spotify.com/v1/artists/33o00sXuyWiApOFzo0vr0z",
            "id" : "33o00sXuyWiApOFzo0vr0z",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/3fcf7a74f03ac70a20d7c8e5ec5f0f944db2b3df",
              "width" : 640
            }, {
              "height" : 320,
              "url" : "https://i.scdn.co/image/fd185e480e162e6a756ee89e9ee3a5aec94addcd",
              "width" : 320
            }, {
              "height" : 160,
              "url" : "https://i.scdn.co/image/f7222337b92e2113ac84428aaac3bbc5de4c5b8c",
              "width" : 160
            } ],
            "name" : "Crywolf",
            "popularity" : 55,
            "type" : "artist",
            "uri" : "spotify:artist:33o00sXuyWiApOFzo0vr0z"
          }, {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/1Ffb6ejR6Fe5IamqA5oRUF"
            },
            "followers" : {
              "href" : null,
              "total" : 2288431
            },
            "genres" : [ "melodic metalcore", "metalcore", "rock", "screamo" ],
            "href" : "https://api.spotify.com/v1/artists/1Ffb6ejR6Fe5IamqA5oRUF",
            "id" :[...]
