<h5>Room Name</h5>
<%= form_tag update_host_party_path, method: :put do %>
  <%= text_field_tag :name %>
  <%= submit_tag 'Start Party' %>
<% end %>

<%= button_to "Go Back", cancel_party_path, method: :delete %>
