---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/currently-playing
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "timestamp" : 1554851862610,
          "context" : {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/4TLNuRH12LUlCDvPZ2dgKn"
            },
            "href" : "https://api.spotify.com/v1/playlists/4TLNuRH12LUlCDvPZ2dgKn",
            "type" : "playlist",
            "uri" : "spotify:user:69doss1dia7oz4kv1t74n0l6m:playlist:4TLNuRH12LUlCDvPZ2dgKn"
          },
          "progress_ms" : 136936,
          "item" : {
            "album" : {
              "album_type" : "single",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/00YTqRClk82aMchQQpYMd5"
                },
                "href" : "https://api.spotify.com/v1/artists/00YTqRClk82aMchQQpYMd5",
                "id" : "00YTqRClk82aMchQQpYMd5",
                "name" : "Our Last Night",
                "type" : "artist",
                "uri" : "spotify:artist:00YTqRClk82aMchQQpYMd5"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/6It3UW07DmPivXu4C8zMdb"
              },
              "href" : "https://api.spotify.com/v1/albums/6It3UW07DmPivXu4C8zMdb",
              "id" : "6It3UW07DmPivXu4C8zMdb",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/3e6915db430710d99705b496dd7f6c7979de9c4f",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/829186af3b09c2e10b72ca649079fd7642977980",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/cdc11d089ade83b40853356ad39f11557df27248",
                "width" : 64
              } ],
              "name" : "Common Ground",
              "release_date" : "2016-11-04",
              "release_date_precision" : "day",
              "total_tracks" : 1,
              "type" : "album",
              "uri" : "spotify:album:6It3UW07DmPivXu4C8zMdb"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/00YTqRClk82aMchQQpYMd5"
              },
              "href" : "https://api.spotify.com/v1/artists/00YTqRClk82aMchQQpYMd5",
              "id" : "00YTqRClk82aMchQQpYMd5",
              "name" : "Our Last Night",
              "type" : "artist",
              "uri" : "spotify:artist:00YTqRClk82aMchQQpYMd5"
            } ],
            "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
            "disc_number" : 1,
            "duration_ms" : 238181,
            "explicit" : false,
            "external_ids" : {
              "isrc" : "GBDMT1600259"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/3UuSrw304mj4UypLGgdUAy"
            },
            "href" : "https://api.spotify.com/v1/tracks/3UuSrw304mj4UypLGgdUAy",
            "id" : "3UuSrw304mj4UypLGgdUAy",
            "is_local" : false,
            "name" : "Common Ground",
            "popularity" : 54,
            "preview_url" : "https://p.scdn.co/mp3-preview/dba3fc2354613666047a632d23854a17751f03ec?cid=<SPOTIFY_CLIENT_ID>",
            "track_number" : 1,
            "type" : "track",
            "uri" : "spotify:track:3UuSrw304mj4UypLGgdUAy"
          },
          "currently_playing_type" : "track",
          "actions" : {
            "disallows" : {
              "resuming" : true
            }
          },
          "is_playing" : true
        }
  recorded_at: Tue, 09 Apr 2019 23:19:57 GMT
recorded_with: VCR 4.0.0
