---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/<SPOTIFY_UID>/playlists
    body:
      encoding: UTF-8
      string: '{"name":"GroovzApp Playlist"}'
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/1fIEDBt72fVF9YW9OfyoAt
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/1fIEDBt72fVF9YW9OfyoAt"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/1fIEDBt72fVF9YW9OfyoAt",
          "id" : "1fIEDBt72fVF9YW9OfyoAt",
          "images" : [ ],
          "name" : "GroovzApp Playlist",
          "owner" : {
            "display_name" : "Peter Lapicola",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/<SPOTIFY_UID>"
            },
            "href" : "https://api.spotify.com/v1/users/<SPOTIFY_UID>",
            "id" : "<SPOTIFY_UID>",
            "type" : "user",
            "uri" : "spotify:user:<SPOTIFY_UID>"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSxiODA5OTViZmYzMjQxNTVjM2Y1MDkyOTY3NDJjZDY4NzBiMmJlODk1",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/1fIEDBt72fVF9YW9OfyoAt/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:1fIEDBt72fVF9YW9OfyoAt"
        }
  recorded_at: Mon, 29 Apr 2019 04:47:10 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "devices" : [ {
            "id" : "1c98de8059bd26890c14444a92048b4f6aaec837",
            "is_active" : false,
            "is_private_session" : false,
            "is_restricted" : false,
            "name" : "DESKTOP-PHC270L",
            "type" : "Computer",
            "volume_percent" : 100
          }, {
            "id" : "6f5333c011e9913b7ea319fdcc9f144e7e4329f2",
            "is_active" : true,
            "is_private_session" : false,
            "is_restricted" : false,
            "name" : "Peter-MBP",
            "type" : "Computer",
            "volume_percent" : 34
          } ]
        }
  recorded_at: Mon, 29 Apr 2019 04:47:10 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/recommendations?limit=20&seed_artists=&target_acousticness&target_danceability&target_energy&target_mode=0&target_tempo&target_valence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error" : {
            "status" : 400,
            "message" : "invalid request"
          }
        }
  recorded_at: Mon, 29 Apr 2019 04:47:10 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "devices" : [ {
            "id" : "1c98de8059bd26890c14444a92048b4f6aaec837",
            "is_active" : false,
            "is_private_session" : false,
            "is_restricted" : false,
            "name" : "DESKTOP-PHC270L",
            "type" : "Computer",
            "volume_percent" : 100
          }, {
            "id" : "6f5333c011e9913b7ea319fdcc9f144e7e4329f2",
            "is_active" : true,
            "is_private_session" : false,
            "is_restricted" : false,
            "name" : "Peter-MBP",
            "type" : "Computer",
            "volume_percent" : 34
          } ]
        }
  recorded_at: Mon, 29 Apr 2019 04:47:10 GMT
recorded_with: VCR 4.0.0
