---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQB2-FNj_G5G6wkBedt4sjrMyKyxvbxgPvR_HTP8BGyQqA3vNHN1RZgHIAYrW6WisAgtHWk0xuZOxvDKTz7glOCxbLIOP1v7A0moMqpPpqeVRmictEm4wd5wPBgmgrA3RApm_HvBdmH8mvLodlFPTrMC_--kUAGQ1B3KLfWrfUb1iUkMV1DdTvvkeBGHWEIXUHvk92_gwtFxiA8dcO0pLi6FTzc6oWuZRqQO","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:18 GMT
- request:
    method: put
    uri: https://api.spotify.com/v1/me/tracks?ids=75eW0q4UnnNT1W5A2nlibq
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer BQB2-FNj_G5G6wkBedt4sjrMyKyxvbxgPvR_HTP8BGyQqA3vNHN1RZgHIAYrW6WisAgtHWk0xuZOxvDKTz7glOCxbLIOP1v7A0moMqpPpqeVRmictEm4wd5wPBgmgrA3RApm_HvBdmH8mvLodlFPTrMC_--kUAGQ1B3KLfWrfUb1iUkMV1DdTvvkeBGHWEIXUHvk92_gwtFxiA8dcO0pLi6FTzc6oWuZRqQO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Apr 2019 04:47:19 GMT
- request:
    method: delete
    uri: https://api.spotify.com/v1/me/tracks?ids=75eW0q4UnnNT1W5A2nlibq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQB2-FNj_G5G6wkBedt4sjrMyKyxvbxgPvR_HTP8BGyQqA3vNHN1RZgHIAYrW6WisAgtHWk0xuZOxvDKTz7glOCxbLIOP1v7A0moMqpPpqeVRmictEm4wd5wPBgmgrA3RApm_HvBdmH8mvLodlFPTrMC_--kUAGQ1B3KLfWrfUb1iUkMV1DdTvvkeBGHWEIXUHvk92_gwtFxiA8dcO0pLi6FTzc6oWuZRqQO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Apr 2019 04:47:19 GMT
recorded_with: VCR 4.0.0
