$spotify-green: #1DB954;
$spotify-darkblue: #404452;
$spotify-black: #191414;
$spotify-grey: #222326;

body {
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-image: linear-gradient(112deg, #434343 0%, #191414 50%);
  font-family: 'Abel', sans-serif;
  color: white;
  margin: 0;
}

.rounded {
  border-radius: 75px;
  border-style: hidden;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  width: 100%;
  height: 30vh;
}

.input-field {
  height: 12vw;
  width: 85%;
  font-size: 4vw;
  margin-bottom: 4vw;
  text-align: center;
  background-color: #E0E0E0;
}

.button_to {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1vh;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  height: 30vh;
}

.btn {
  color: white;
  width: 80%;
  height: 14vw;
  font-size: 5.5vw;
}

.btn-primary {
  background-color: $spotify-green;
}

.btn-secondary {
  background-color: $spotify-darkblue;
}

.btn-minor {
  background-color: #424242;
  color: #9E9E9E;
  width: 70%;
}

.sub-button {
  background-color: $spotify-darkblue;
  width: 90%;
  display: inline-block;
  height: 8vw;
  font-size: 4vw;
}

.sub-primary-button {
  background-color: $spotify-green;
  width: 50%;
  display: inline-block;
  height: 8vw;
  font-size: 4vw;
}

.sub-buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.back-arrow {
  display: inline-block;
  width: 100%;
  float: left;
  margin-bottom: 3vw;
}

.label {
  margin-bottom: 4vw;
  font-size: 7vw;
}

#site-logo {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;

  img {
    width: 90%;
  }
}

#host-party-create {
  width: 100%;
  position: absolute;
  top: 20%;

  label {
    font-weight: bolder;
  }
}
