// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#index-primary-buttons {
  position: absolute;
  bottom: 30vh;
}

#index-secondary-buttons {
  position: absolute;
  bottom: 5vh;
}

#index-create-button {
  margin-bottom: 5vw;
}
