// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$spotify-green: #1DB954;
$spotify-darkblue: #404452;
$spotify-black: #191414;
$spotify-grey: #222326;

.btn-boxed {
  width: 95%;
  height: 15vw;
  background-color: $spotify-grey;
  border-radius: 15px;
  border-style: ridge;
  border-color: $spotify-darkblue;
}

.room-info-panel {
  padding-top: 5vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;

  p {
    align-self: center;
  }
}

.room-info-wrapper {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 15vw;
  background-color: $spotify-grey;
  border-style: ridge;
  border-radius: 10px;
  border-color: $spotify-darkblue;
  margin-bottom: 1vw;
}

.room-info-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  margin-right: 3vw;
  margin-left: 3vw;
}

.player-container {
  text-align: center;

  #host-album-art {
    max-width: 80vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #guest-album-art {
    max-width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5vw;
    margin-top: 3vw;
  }
}

.player-info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.player-control-section {
  height: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  vertical-align: center;
}

.track-info {
  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.album-artwork {
  max-width: 100%;
  max-height: 70vh;
}

.icon {
  max-width: 15vw;
}

.hide {
  display: none;
}

#index-primary-buttons {
  position: absolute;
  bottom: 30vh;
}

#index-secondary-buttons {
  position: absolute;
  bottom: 5vh;
}

#index-create-button {
  margin-bottom: 5vw;
}

#host-party-create {
  width: 100%;
  position: absolute;
  top: 20%;

  label {
    font-weight: bolder;
  }
}

#member-party-join {
  width: 100%;
  position: absolute;
  top: 20%;

  label {
    font-weight: bolder;
  }
}

#start-party-button {
  position: absolute;
  bottom: 40%;
  width: 100%;
}

#leave-party-button {
  position: absolute;
  bottom: 10%;
}
