// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$spotify-green: #1DB954;
$spotify-darkblue: #404452;
$spotify-black: #191414;
$spotify-grey: #222326;

.party-container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "room-name room-name room-name"
    "room-code room-code room-code"
    "player player player"
    "button button button";

  grid-template-rows: 8vh 8vh 64vh 20vh;
}

.root-container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-areas:
    "logo"
    "primary-buttons"
    "secondary-buttons";

  grid-template-rows: 40vh 30vh 30vh;
}

.room-container {
  display: grid;
  grid-template-areas:
    "back-arrow . ."
    "input input input";

  grid-template-rows: 20vh 80vh;
}

.btn-boxed {
  width: 95%;
  height: 15vw;
  background-color: $spotify-grey;
  border-radius: 15px;
  border-style: ridge;
  border-color: $spotify-darkblue;
}

.room-info-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  p {
    align-self: center;
    display: inline;
  }

  h3 {
    display: inline;
  }
}

.room-info-wrapper {
  justify-self: center;
  width: 95%;
  height: 8vh;
  background-color: $spotify-grey;
  border-style: ridge;
  border-radius: 10px;
  border-color: $spotify-darkblue;
  margin-bottom: 1vw;
}

.player-container {
  text-align: center;
  grid-area: player;

  #host-album-art {
    max-width: 33vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #guest-album-art {
    max-width: 35vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5vw;
    margin-top: 3vw;
  }
}

.player-info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.player-control-section {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  vertical-align: center;
}

.info-item {
  width: 16vw;
}

.track-info {
  width: 66vw;
  h4 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.album-artwork {
  margin-top: 5%;
  max-width: 100%;
  max-height: 70vh;
}

.icon {
  width: 33vw;
}

.hide {
  display: none;
}

#device-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  margin-bottom: 5%;
}

#device-list {
  display: inline;
  height: 8vw;
  width: auto;
  background-color: #E0E0E0;
  font-size: 3vw;
  text-align-last: center;
  text-align: center;
  margin-right: 7%;
  border: none;
  padding: 2%;
}

#refresh-button {
  max-width: 8vw;
  display: inline;
}

#index-primary-buttons {
  max-width: 75vh;
  justify-self: center;
}

#index-secondary-buttons {
  max-width: 75vh;
  justify-self: center;
}

#index-create-button {
  margin-bottom: 5vw;
}

#host-track-info {
  width: 100%;
}

#host-party-create {
  width: 100%;
  position: absolute;
  top: 20%;

  label {
    font-weight: bolder;
  }
}

#member-party-join {
  width: 100%;
  position: absolute;
  top: 20%;

  label {
    font-weight: bolder;
  }
}

#start-party-button {
  margin-top: 5vh;
  width: 100%;
}

#leave-party-button {
  grid-area: button;
  justify-self: stretch;
}

#save-track {
  max-width: 6vh;
}

#skip-icon {
  max-width: 4vh;
}

#pause-play {
  max-width: 9vh;
}

#room-name {
  grid-area: room-name;
}

#room-code {
  grid-area: room-code;
}
