// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-container {
  display: grid;
  grid-template-areas:
    "logo"
    "buttons";

  grid-template-rows: 60vh 40vh;
}

#login-button-container {
  grid-area: buttons;
  align-self: start;
  justify-self: center;
}
