---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBxaATwRFtk7cOQMjAWM1h_rXQaq74v0wu6VxQD-T4RIUS46iTbhhZASg9MBIMfhgMKI3igxSGKligNQagPmpmxYO0M5QgODz6g31tbFsgV58660Ik_-_SGLqugSOwo9k4DA-9chxmGj6yJvkBsQpiGZiECDyH40VTmc2Rq7iwF27yx6-ghy1eKxRJHUHrM-l-dxInFRQlZq_ZjIYmkuNkxmB5d32sUFDB1","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:16 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBxaATwRFtk7cOQMjAWM1h_rXQaq74v0wu6VxQD-T4RIUS46iTbhhZASg9MBIMfhgMKI3igxSGKligNQagPmpmxYO0M5QgODz6g31tbFsgV58660Ik_-_SGLqugSOwo9k4DA-9chxmGj6yJvkBsQpiGZiECDyH40VTmc2Rq7iwF27yx6-ghy1eKxRJHUHrM-l-dxInFRQlZq_ZjIYmkuNkxmB5d32sUFDB1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "devices" : [ {
            "id" : "1c98de8059bd26890c14444a92048b4f6aaec837",
            "is_active" : false,
            "is_private_session" : false,
            "is_restricted" : false,
            "name" : "DESKTOP-PHC270L",
            "type" : "Computer",
            "volume_percent" : 100
          }, {
            "id" : "6f5333c011e9913b7ea319fdcc9f144e7e4329f2",
            "is_active" : true,
            "is_private_session" : false,
            "is_restricted" : false,
            "name" : "Peter-MBP",
            "type" : "Computer",
            "volume_percent" : 34
          } ]
        }
  recorded_at: Mon, 29 Apr 2019 04:47:16 GMT
recorded_with: VCR 4.0.0
