---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBC2VETqolNBJSPckJCR5LZ-rc-65EwU6X4b-PusXLkF1_cG16jbqusCoPR8gj5bteWX4wRfcIAb9dhH6XemORJcJ60c-2tMv7DrooYhattonwMLIg_HErPQwZDnbuXRPpz7rNxZk6IxJAzTRS8xl5NTL_OVdR4xtgg_WR__nxLZEkvgMNpBfxhgOB1vWgrZkflgoToe4zGLm8hXyS1Cs1Q58cI","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-modify playlist-modify-public user-read-playback-state user-top-read"}'
  recorded_at: Tue, 09 Apr 2019 17:58:30 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBC2VETqolNBJSPckJCR5LZ-rc-65EwU6X4b-PusXLkF1_cG16jbqusCoPR8gj5bteWX4wRfcIAb9dhH6XemORJcJ60c-2tMv7DrooYhattonwMLIg_HErPQwZDnbuXRPpz7rNxZk6IxJAzTRS8xl5NTL_OVdR4xtgg_WR__nxLZEkvgMNpBfxhgOB1vWgrZkflgoToe4zGLm8hXyS1Cs1Q58cI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "devices" : [ {
            "id" : "1c98de8059bd26890c14444a92048b4f6aaec837",
            "is_active" : false,
            "is_private_session" : false,
            "is_restricted" : false,
            "name" : "DESKTOP-PHC270L",
            "type" : "Computer",
            "volume_percent" : 100
          }, {
            "id" : "6f5333c011e9913b7ea319fdcc9f144e7e4329f2",
            "is_active" : false,
            "is_private_session" : false,
            "is_restricted" : false,
            "name" : "Peter-MBP",
            "type" : "Computer",
            "volume_percent" : 98
          } ]
        }
  recorded_at: Tue, 09 Apr 2019 17:58:30 GMT
recorded_with: VCR 4.0.0
