---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQAdKMRUwKFyST8atCPbLDsGUErs74gIk4wJONc2PfpD7sqc9DgZvZao-lgVKTtEHrXt-aPONk_ywup4OgT6ooDhPjUfr6qENtP0L8u_fG6W6BG8p9gWaCBb7tiJ2xjiUvUwpcf7DRC22C19GTlgGOjYH8-Y9htuqKybcquupdBMBTLKcYxHWT2T8z_cQJf6kxyoMGxKqS8g4HapR430Pl0jQGhb7QHx9x_M","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:21 GMT
- request:
    method: put
    uri: https://api.spotify.com/v1/me/tracks?ids=75eW0q4UnnNT1W5A2nlibq
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer BQAdKMRUwKFyST8atCPbLDsGUErs74gIk4wJONc2PfpD7sqc9DgZvZao-lgVKTtEHrXt-aPONk_ywup4OgT6ooDhPjUfr6qENtP0L8u_fG6W6BG8p9gWaCBb7tiJ2xjiUvUwpcf7DRC22C19GTlgGOjYH8-Y9htuqKybcquupdBMBTLKcYxHWT2T8z_cQJf6kxyoMGxKqS8g4HapR430Pl0jQGhb7QHx9x_M
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Apr 2019 04:47:21 GMT
recorded_with: VCR 4.0.0
