---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQAUKUscOEywqA48Wy6ufemGJWlvJZLQ5ZT6P5ktvVR3iaIJcRweuleL6R7HNAJK2y0pXNh9SMoHbpPxhW4ESP8WgBnm3l9D7Wp2qoQYhRtTwst_QNioFdYn1xc62yBr4xc21ifdpIImUOTHgMqr3EqrM_7pLEs1nMiLj1zVSLcpVd9OIyKhKOVzGfmGpZUeLVAzk_19ZqmDLFDFUPLlvvv3TY5dASzphjNP","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:28 GMT
recorded_with: VCR 4.0.0
