---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQDZ4CV2IWOH7XhfS_LXUxl88TONP1_rYQxMkjmTa4ZixvDhgyfJn_8pMJ_iPxekd91GL3GdTiJy7QAonDsLD2NqeWPqel9NprcsHo0LDXFvAgHifBpagZSOElZKtrHFEAcA9kHNV9bAXgGJGYVfTG2UHGtdQSPPKhHmTJONZCCw9XGpmIhN9kJHdPxCqbOaaW8_qoA","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-modify playlist-modify-public user-read-playback-state user-top-read"}'
  recorded_at: Tue, 09 Apr 2019 23:17:41 GMT
recorded_with: VCR 4.0.0
