---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"Invalid client"}'
  recorded_at: Tue, 09 Apr 2019 23:04:28 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/top/tracks?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      - application/json
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_request", error_description="Only valid
        bearer authentication supported"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 400,
            "message": "Only valid bearer authentication supported"
          }
        }
  recorded_at: Tue, 09 Apr 2019 23:04:28 GMT
recorded_with: VCR 4.0.0
