---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&grant_type=refresh_token&redirect_uri=groovzapp.com%2Fauth%2Fspotify%2Fcallback&refresh_token=<SPOTIFY_USER_REFRESH>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQD_qlDdVG_1oR98XzYcr4TR-YlY6T0SdOZtCmXawh2kyE76-SOGj_yvXCzoTh_wMSJYMTY_tBEPHwtpokpbqvplZNRrI-hy7QWb-4EUPTHXKe1OJoV8ysgYqH8YXz5PaKyFry1L2zQRNinK50IPg82Ui6duBxeL4gIRUcaFZxwzro_DO7B1IVe5FQ7AOy1EBxtAXN6iG1VX1MkChPmzBoDBaDPQBfbMkqTC","token_type":"Bearer","expires_in":3600,"scope":"user-modify-playback-state
        user-library-read user-library-modify playlist-modify-public user-read-playback-state
        user-top-read"}'
  recorded_at: Mon, 29 Apr 2019 04:47:20 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me/tracks/contains?ids=4VqPOruhp5EdPBeR92t6lQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQD_qlDdVG_1oR98XzYcr4TR-YlY6T0SdOZtCmXawh2kyE76-SOGj_yvXCzoTh_wMSJYMTY_tBEPHwtpokpbqvplZNRrI-hy7QWb-4EUPTHXKe1OJoV8ysgYqH8YXz5PaKyFry1L2zQRNinK50IPg82Ui6duBxeL4gIRUcaFZxwzro_DO7B1IVe5FQ7AOy1EBxtAXN6iG1VX1MkChPmzBoDBaDPQBfbMkqTC
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjdhNjFiZDc1MmIwOGVkYzg3YjMwNDg2N2QxYzFhMTAwIg=="'
    body:
      encoding: ASCII-8BIT
      string: "[ false ]"
  recorded_at: Mon, 29 Apr 2019 04:47:20 GMT
recorded_with: VCR 4.0.0
